.banner-section-subtitle {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 35px;
  text-align: center;

  & span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;

    @media ($laptop2) {
      @include fzIns(24,$valLeptop2);
    }

    &.text-strong {
      font-weight: bold;
    }
  }
}