.banner-section-title {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 54px;
  text-align: center;

  @media ($mobile1) {
    margin: 0 auto 20px;
  }

  & span {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media ($laptop2) {
      @include fzIns(36,$valLeptop2);
    }

    @media ($mobile1) {
      font-size: 18px;
    }
  }
}