.equipment-card-descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 13px;

  @media (max-width: 749px) {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 11px;
  }

  & p {
    margin: 0;
  }
}