.text-section {

  & p, & span {
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #272727;

    @media ($laptop2) {
      @include fzIns(24,$valLeptop2);
    }

    @media ($mobile1) {
      font-size: 14px;
      text-align: left;
    }
  }

  & p {
    margin: 0 0 40px;

    @media ($mobile1) {
      margin: 0 0 30px;
    }

    &:last-child {
      margin: 0;
    }
  }

  span.text-section__strong {
    font-weight: bold;
  }

  span.text-section__mark {
    color: $c-main;
  }
}