.title-section {
  margin: 0 0 50px;
  text-align: center;

  @media ($mobile1) {
    margin: 0 0 45px;
  }

  h2 &, h3 & {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #272727;

    @media ($laptop2) {
      @include fzIns(36,$valLeptop2);
    }

    @media ($mobile1) {
      font-size: 18px;
    }
  }

  & span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #272727;

    @media ($laptop2) {
      @include fzIns(36,$valLeptop2);
    }

    @media ($mobile1) {
      font-size: 18px;
    }
  }

  .section-main_change-mob & {
    margin: 20px auto 55px;
    width: 244px;

    h2 &, h3 &, & span {

      @media ($mobile1) {
        color: #fff;
      }
    }
  }
}