.advantage-card-title {
  text-align: center;

  & span {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #272727;

    @media ($laptop2) {
      @include fzIns(22,$valLeptop2);
    }

    @media ($tablet3) {
      font-size: 18px;
    }
  }
}