.equipment-card-descr {
  margin: 0 0 50px;

  @media ($tablet3) {
    margin: 0 0 30px;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #272727;

    @media ($laptop2) {
      @include fzIns(20,$valLeptop2);
    }

    @media ($tablet3) {
      font-size: 14px;
    }
  }
}