.equipment-card-img {
  position: relative;
  flex-shrink: 0;
  width: 450px;
  margin: 0 60px 0 0;

  @media ($laptop2) {
    margin: 0 15px 0 0;
  }

  @media ($tablet3) {
    width: 320px;
  }

  @media ($mobile1) {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}