.info-block-item-descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  .info-block-list_main & {
    font-size: 18px;
    line-height: 18px;
    color: $c-text-gray;

    @media (max-width: 749px) {
      font-size: 12px;
      line-height: 12px;
      width: auto;
    }
  }

  @media (max-width: 749px) {
    width: 260px;
    margin: 0 auto;
  }
}