// Font
$f-l: 'Lato', sans-serif;
$f-lh: 'Lato Hairline', sans-serif;

// Main color
$c-main: #2A93C9;
$c-main-light: #d2ebff;
$c-strong: #F37110;
$c-orange: #F37110;
$c-strong-light: #ffe9d9;
$c-text: #272727;
$c-text-gray: #838583;

//media max-width
$laptop: 'max-width: 1440px';
$tablet1: 'max-width: 1151px';
$tablet2: 'max-width: 1024px';
$tablet3: 'max-width: 991px';
$mobile1: 'max-width: 767px';
$mobile2: 'max-width: 639px';