// Font
$f-l: 'Lato', sans-serif;
$f-lh: 'Lato Hairline', sans-serif;

// Main color
$c-main: #2A93C9;
$c-main-light: #d2ebff;
$c-strong: #F37110;
$c-orange: #F37110;
$c-strong-light: #ffe9d9;
$c-text: #272727;
$c-text-gray: #838583;

//media max-width
$valLeptop1: 1440;
$valLeptop2: 1200;
$valTablet1: 1151;
$valTablet2: 1024;
$valTablet3: 991;
$valMobile1: 767;
$valMobile2: 639;

$laptop1: 'max-width: #{$valLeptop1}px';
$laptop2: 'max-width: #{$valLeptop2}px';
$tablet1: 'max-width: #{$valTablet1}px';
$tablet2: 'max-width: #{$valTablet2}px';
$tablet3: 'max-width: #{$valTablet3}px';
$mobile1: 'max-width: #{$valMobile1}px';
$mobile2: 'max-width: #{$valMobile2}px';