.slider-main-button {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  &.slider-main-prev {
    left: 0;
  }

  &.slider-main-next {
    right: 0;
  }
}