.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  .accordion-list-item.open & span {
    color: $c-main;
  }

  @media (hover: hover) {
    &:hover {
      & span {
        color: $c-main;
      }
    }
  }

  & span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #272727;
    transition: 200ms;
  }

  &__indicator {
    margin: 0 0 0 15px;
  }

  &__indicator svg {
    transition: inherit;

    * {
      transition: inherit;
    }
  }

  &__indicator.open {
    transform: rotate(90deg);

    & svg {
      rect {
        fill: #838583;

        &:first-child {
          opacity: 0;
        }
      }
    }
  }
}