.recall-result-box {
  position: relative;
  overflow: hidden;
  padding: 39.605% 0 0;

  &__after, &__before {
    position: absolute;
    top: 0;
    height: 100%;

    & img {
      height: 100%;
    }
  }

  &-img {
    height: 100%;
    overflow: hidden;
  }

  &__after {
    z-index: 1;
    right: 0;
    width: 50%;

    & img {
      position: absolute;
      top: 0;
      right: 0;
      max-width: none;
    }
  }

  &__before {
    z-index: 0;
    left: 0;
    width: 100%;
  }
}