.review-box {
  background: #fff;
  padding: 33px 32px 26px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media ($tablet3) {
    padding: 12px 15px 18px;
  }

  & > * {
    flex-shrink: 0;
  }
}