.specialist-card {
  position: relative;
  height: 630px;
  overflow: hidden;

  @media ($laptop2) {
    height: auto;
    padding: 51% 0 0;
  }

  @media ($tablet3) {
    padding: 0;
    background: #fff;
  }

  @media ($mobile3) {
    padding: 0 15px;
  }
}