.specialist-card {
  position: relative;
  height: 630px;
  overflow: hidden;

  @media ($laptop2) {
    height: auto;
    padding: 51% 0 0;
  }

  @media ($tablet3) {
    padding: 0;
    background: #fff;
  }

  @media ($mobile3) {
    padding: 0 15px;
  }

  & .page-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;

    @media ($laptop2) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 60px;
    }

    @media ($tablet3) {
      position: relative;
    }

    @media ($mobile3) {
      padding: 0;
    }
  }
}